@import "./food-detail.component-tablet.scss";
@import "./food-detail.component-phone.scss";
.phone,
.tablet {
    font-family: "Roboto-Regular";
}

ActionBar {
    color: white;
}

.foodCard {
    height: 90%;
    font-size: 20;
}

.food_name {
    color: #3489db;
    font-size: 32;
    padding: 5dpi 0;
    margin-left: 5dpi;
}

.food_img {
    width: 100%;
    height: 50%;
}

.foodInfo,
.placeInfo {
    width: 50%;
}

.foodInfo {
    margin-top: 15dpi;
    padding-left: 10dpi;
}

.btn {
    width: 40%;
    background-color: #3489db;
    color: white;
    margin-left: 5%;
}

StarRating {
    width: 100%;
}

.placeInfo {
    margin-top: 2dpi;
}

.food_comp {
    margin-top: 5dpi;
}

.food_place {
    text-align: center;
    font-size: 26;
    color: #3489db;
}

.food_place_open,
.food_place_call {
    text-align: right;
    margin-right: 20dpi;
}