<StackLayout #stackLayout>

  <ActionBar title="Food Service">

    <ActionItem class="action-bar-item" (tap)="onShare()" ios.systemIcon="9" ios.position="left" android.systemIcon="ic_menu_share"
      android.position="actionBar"></ActionItem>
    <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="delete" android.position="popup"></ActionItem>
  </ActionBar>



  <CardView class="foodCard" margin="10" elevation="20" radius="1">
    <StackLayout class="stackCard">
      <Label class="text-left food_name" horizontalAlignment="left" [text]="food.name" textWrap="true"></Label>

      <Image #img class="food_img" horizontalAlignment="left" [src]="img_src" stretch="fill"></Image>

      <StackLayout orientation="horizontal">
        <StackLayout class="foodInfo">
          <Label class="food section_title" text="Information" textWrap="true"></Label>




          <GridLayout class="icons-container" horizontalAlignment="left" rows="4dpi,auto ,4pi ,auto" columns="auto">

            <Label col="0" row="1" class="food_price text-left" [text]="'Prix: ' + food.price + ' DH'"></Label>
            <Label col="0" row="3" class="food_comp text-left" text="ingrédients: Boeuf"></Label>



          </GridLayout>

        </StackLayout>

        <StackLayout class="placeInfo">
          <Label class="food_place section_title" text="Coordonnées" textWrap="true"></Label>


          <GridLayout class="icons-container" horizontalAlignment="right" rows="4dpi,auto ,4pi ,auto,4dpi ,auto" columns="auto">

            <Label col="0" row="1" class="food_place_open" text="Ouvert : 8-16"></Label>
            <Label col="0" row="1" horizontalAlignment="right" text="c" class="icon-location"></Label>


            <Label col="0" row="3" horizontalAlignment="right" (tap)="findPlace()" class="food_place_name" [text]="food.place" textWrap="true"></Label>
            <Label col="0" row="3" horizontalAlignment="right" (tap)="findPlace()" text="a" class="icon-location"></Label>

            <Label col="0" row="5" horizontalAlignment="right" class="food_place_call" text="Appeler"></Label>
            <Label col="0" row="5" horizontalAlignment="right" class="food_place_call" text="b" class="icon-call"></Label>

          </GridLayout>





        </StackLayout>

      </StackLayout>



      <StackLayout class="btn-container" *ngIf="!hasImage" orientation="horizontal">
        <Button (tap)="uploadPicture()" class="btn" text="Galerie"></Button>
        <Button (tap)="takePicture()" class="btn" text="Prendre image"></Button>
      </StackLayout>



    </StackLayout>

  </CardView>


  <FlexboxLayout class="top-container">
    <CardView margin="10" elevation="50" radius="1" class="top">
      <StackLayout class="top-card-container" orientation="vertical">
        <Label class="top-name" text="Big Mac" textWrap="true"></Label>
        <Image stretch="fill" class="top-img" src="res://buger_test"></Image>

        <StackLayout orientation="horizontal">
          <StackLayout class="top-card-section-price">
            <Label class="text-left" [text]="food.price + 'Dh'"></Label>
          </StackLayout>

          <StackLayout class="top-card-section-place text-right">
            <Label class="" text="tacos de Lyon"></Label>
          </StackLayout>
        </StackLayout>


      </StackLayout>
    </CardView>
    <CardView margin="10" elevation="3" radius="1" class="top">
      <StackLayout class="top-card-container" orientation="vertical">
        <Label class="top-name" text="Big Mac" textWrap="true"></Label>
        <Image stretch="fill" class="top-img" src="res://buger_test"></Image>
        <StackLayout orientation="horizontal">
          <StackLayout class="top-card-section-price">
            <Label class="text-left" [text]="food.price + 'Dh'"></Label>
          </StackLayout>

          <StackLayout class="top-card-section-place text-right">
            <Label class="" text="Macdo" textWrap="true"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </CardView>
    <CardView margin="10" elevation="3" radius="1" class="top">
      <StackLayout class="top-card-container" orientation="vertical">
        <Label class="top-name" text="Big Mac" textWrap="true"></Label>
        <Image stretch="fill" class="top-img" src="res://buger_test"></Image>
        <StackLayout orientation="horizontal">
          <StackLayout class="top-card-section-price">
            <Label class="text-left" [text]="food.price + 'Dh'"></Label>
          </StackLayout>

          <StackLayout class="top-card-section-place text-right">
            <Label class="" text="L'Autentik" textWrap="true"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </CardView>
  </FlexboxLayout>


  <ListView #list class="list-group">

  </ListView>





</StackLayout>