<StackLayout #stackLayout>

  <ActionBar title="Food Service">

    <ActionItem class="action-bar-item" (tap)="onShare()" ios.systemIcon="9" ios.position="left" android.systemIcon="ic_menu_share"
      android.position="actionBar"></ActionItem>
    <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="delete" android.position="popup"></ActionItem>
  </ActionBar>



  <CardView class="foodCard" margin="10" elevation="20" radius="1">
    <StackLayout class="stackCard">
      <Label class="text-left food_name" horizontalAlignment="left" [text]="food.name" textWrap="true"></Label>

      <Image #img class="food_img" horizontalAlignment="left" [src]="img_src" stretch="fill"></Image>

      <StackLayout orientation="horizontal">
        <StackLayout class="foodInfo">
          <Label class="food section_title" text="Food details" textWrap="true"></Label>

          <Label class="food_price text-left" [text]="'Price : ' + food.price + 'Dh'"></Label>
          <Label class="food_comp text-left" text="ingredient: Beef"></Label>

        </StackLayout>

        <StackLayout class="placeInfo">
          <Label class="food_place section_title" text="Where to find it" textWrap="true"></Label>

          <Label class="food_place_open" text="open : 8-16"></Label>

          <Label (tap)="findPlace()" class="food_place_name" [text]="food.place" textWrap="true"></Label>

          <Label class="food_place_call" text="Call"></Label>

        </StackLayout>

      </StackLayout>



      <StackLayout class="btn-container" *ngIf="!hasImage" orientation="horizontal">
        <Button (tap)="uploadPicture()" class="btn" text="upload image"></Button>
        <Button (tap)="takePicture()" class="btn" text="take image"></Button>
      </StackLayout>



    </StackLayout>

  </CardView>


  <FlexboxLayout class="top-container">
    <CardView margin="10" elevation="50" radius="1" class="top">
      <StackLayout class="top-card-container" orientation="vertical">
        <Label class="top-name" text="Big Mac" textWrap="true"></Label>
        <Image stretch="fill" class="top-img" src="res://buger_test"></Image>

        <StackLayout orientation="horizontal">
          <StackLayout class="top-card-section-price">
            <Label class="text-left" [text]="food.price + 'Dh'"></Label>
          </StackLayout>

          <StackLayout class="top-card-section-place text-right">
            <Label class="" text="tacos de Lyon"></Label>
          </StackLayout>
        </StackLayout>


      </StackLayout>
    </CardView>
    <CardView margin="10" elevation="3" radius="1" class="top">
      <StackLayout class="top-card-container" orientation="vertical">
        <Label class="top-name" text="Big Mac" textWrap="true"></Label>
        <Image stretch="fill" class="top-img" src="res://buger_test"></Image>
        <StackLayout orientation="horizontal">
          <StackLayout class="top-card-section-price">
            <Label class="text-left" [text]="food.price + 'Dh'"></Label>
          </StackLayout>

          <StackLayout class="top-card-section-place text-right">
            <Label class="" text="Macdo" textWrap="true"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </CardView>
    <CardView margin="10" elevation="3" radius="1" class="top">
      <StackLayout class="top-card-container" orientation="vertical">
        <Label class="top-name" text="Big Mac" textWrap="true"></Label>
        <Image stretch="fill" class="top-img" src="res://buger_test"></Image>
        <StackLayout orientation="horizontal">
          <StackLayout class="top-card-section-price">
            <Label class="text-left" [text]="food.price + 'Dh'"></Label>
          </StackLayout>

          <StackLayout class="top-card-section-place text-right">
            <Label class="" text="L'Autentik" textWrap="true"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </CardView>
  </FlexboxLayout>


  <ListView #list class="list-group">

  </ListView>





</StackLayout>