.food-category {
    // width: 10%;
    // height: 10%;
    // background-color: yellow;
}

.tablet {
    background-color: #DDCDAF;
}

.tablet .form .form-item {
    width: 30%;
    margin-left: 2%;
}

.tablet .form .btn {
    background-color: peru;
    color: wheat;
    margin-top: 5%;
}

.tablet .form TextField {
    text-align: center;
    font-size: 22;
}

.tablet .form DropDown {
    text-align: center;
    font-size: 22;
    padding: 5%;
    margin-top: 5%;
}

.tablet .form .tablet .category {}

.tablet .name {}

.tablet .title {}